<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-product">Create new product</a>
<h1>Product</h1>
<form>
    Search by name:
    <input name="s" type="text"/>
    <input type="submit" value="Search"/>
</form>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Join At</th>
        <th>Description</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="product : ${products}">
        <tr>
            <td th:text="${product.nameProduct}"></td>
            <td th:text="${product.priceProduct}"></td>
            <td th:text="${product.quantityProduct}"></td>
            <td th:text="${product.join_at}"></td>
            <td th:text="${product.descriptionProduct}"></td>
            <td th:text="${product.category.name}"></td>
            <td><a th:href="@{/edit-product/__${product.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-product/__${product.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/list'(page=${products.number - 1})}" th:if="${products.hasPrevious()}">Previous</a>
    <span th:text="${products.number + 1}"></span>/<span th:text="${products.totalPages}"></span>
    <a th:href="@{'/list'(page=${products.number + 1})}" th:if="${products.hasNext()}">Next</a>
</div>
</body>
</html>